<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div>
    <h4>Avaliadores</h4>
    <a class="btn btn-primary text-center" th:href= "@{./cadastrar}">Cadastrar Avaliador</a>
</div>
<br>
<div th:if="${#lists.size(avaliadores) == 0}" class="text-center">
    <span>Não existem avaliadores cadastrados</span>
</div>
<div th:if="${#lists.size(avaliadores) != 0}" class="text-center">
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome Completo</th>
        <th>Email</th>
        <th>Areas de Conhecimento</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="avaliador: ${avaliadores}" th:object="${avaliador}">
        <td th:text="*{id}"></td>
        <td th:text="*{nomeCompleto}"></td>
        <td th:text="*{email}"></td>
        <td> <span th:each="area: *{areas}" th:text="${area}">To deixando um easteregg só de zuera </span> </td>
        <td colspan="2">
            <a class="btn btn-primary" th:href= "@{./editar/{id}(id = *{id})}">Editar</a>
            <a class="btn btn-danger" th:href= "@{./excluir/{id}(id = *{id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="fragments/rodape :: rodape"></div>
