<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div>
    <h4>Trabalho para Revisao : <span th:text="${trabalho.titulo}"></span></h4>
</div>
<br>
<div class="text-center">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Url</th>
            <th>Area</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:object="${trabalho}">
            <td th:text="*{id}"></td>
            <td th:text="*{titulo}"></td>
            <td th:text="*{descricao}"></td>
            <td><a th:href="*{url}" th:text="*{url}"></a></td>
            <td th:text="*{area.nome}">  </td>
        </tr>
        </tbody>
    </table>
</div>

<form th:action="@{/revisao/manter.html/{id}(id=${trabalho.id})}" method="post" th:object="${revisao}">
    <input type="hidden" name="trabalhoId" th:field="*{id}">
    <div class=" row form-group">
        <div class="col-md-6">
            <label>Nota</label>
            <input type="number" name="nota" class="form-control" th:field="*{nota}">
            <strong th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></strong>
        </div>
    </div>
    <div class=" row form-group">
        <div class="col-md-6">
            <label>Descrição Textual</label>
            <input type="text" name="descricao" class="form-control" th:field="*{descricao}">
            <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
        </div>
    </div>
    <button th:field="*{status}" value="${T(br.ufjf.dcc193.trb2lucas_rodrigo.models.EnumStatus).AVALIADO}" type="submit" class="btn btn-success">Revisar Agora</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
    <a th:href="@{/areas/ver-trabalhos.html/{id}(id = ${trabalho.id})}" class="btn btn-danger">Cancelar</a>
</form>
<div th:replace="fragments/rodape :: rodape"></div>
