<div th:replace="fragments/cabecalho :: cabecalho"></div>
<h4>Manter Trabalho</h4>

<form th:action="@{/trabalhos/manter.html}" method="post" th:object="${trabalho}">
    <input type="hidden" name="trabalhoId" th:field="*{id}">
    <div class=" row form-group">
        <div class="col-md-6">
            <label>Título</label>
            <input type="text" name="titulo" class="form-control" th:field="*{titulo}">
            <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
        </div>
    </div>
    <div class=" row form-group">
        <div class="col-md-6">
            <label>Descrição</label>
            <input type="text" name="descricao" class="form-control" th:field="*{descricao}">
            <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label>Url</label>
            <input type="text" name="url" class="form-control" th:field="*{url}">
            <strong th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label>Area: <select class="form-control" th:field="*{area}" >
                <option th:each="opcao : ${opcoes}"
                        th:field="*{area}"
                        th:value="${opcao.id}"
                        th:text="${opcao.nome}"></option>
            </select></label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
    <a th:href="@{/trabalhos/}" class="btn btn-danger">Cancelar</a>
</form>
<div th:replace="fragments/rodape :: rodape"></div>
