<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div>
    <h4>Trabalhos</h4>
    <a class="btn btn-primary text-center" th:href= "@{./cadastrar}">Cadastrar Trabalho</a>
</div>
<br>
<div th:if="${#lists.size(trabalhos) == 0}" class="text-center">
    <span>Não existem trabalhos cadastrados</span>
</div>
<div th:if="${#lists.size(trabalhos) != 0}" class="text-center">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Url</th>
            <th>Area</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trabalho: ${trabalhos}" th:object="${trabalho}">
            <td th:text="*{id}"></td>
            <td th:text="*{titulo}"></td>
            <td th:text="*{descricao}"></td>
            <td><a th:href="*{url}" th:text="*{url}"></a></td>
            <td th:text="*{area.nome}">  </td>
            <td colspan="2">
                <a class="btn btn-primary" th:href= "@{./editar/{id}(id = *{id})}">Editar</a>
                <a class="btn btn-danger" th:href= "@{./excluir/{id}(id = *{id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/rodape :: rodape"></div>
